# Notes App (MERN Stack)

A full-stack Notes Management Application that allows users to **create**, **edit**, **delete**, and **search** personal notes with **rich text editing** support.  
Each note is securely tied to the authenticated user. The app also includes **logging**, **exception handling**, and **unit testing** for both frontend and backend.

---

## Tech Stack

### **Frontend**
- React.js (Vite)
- React Router
- React Quill (Rich Text Editor)
- Axios
- Jest and viTest

### **Backend**
- Node.js
- Express.js
- MongoDB (Mongoose)
- Redis (Caching Layer)
- Pino (Logger)
- Mocha / Chai (Unit Testing)

---

## Key Features

### User Authentication
- Register, Login, and Logout functionality  
- Secure routes with JWT authentication  
- Cookies-based authentication  

### Notes Management
- Create, edit, delete, and view personal notes  
- Rich Text Editor for better content formatting  
- Choose note background colors  
- Search notes by title  
- Auto-refresh and caching with Redis  

### Backend Functionality
- CRUD REST APIs for notes and users  
- Caching with Redis for optimized performance  
- Global error handler  
- Logging (using **Pino Logger**) for HTTP requests and errors  

### Testing
- **Backend**: Mocha + Chai for controller-level unit tests  
- **Frontend**: Jest and viTest for component-level tests (Login, Register, NotesList, AddNote, etc.)  

### Code Quality
- **SonarQube** integrated for static code analysis  
- Git branching and PR strategy used for version control  

---

## Environment Variables
 - PORT=8000
 - MONGO_URI=your_mongodb_connection_string
 - JWT_SECRET=your_secret_key
 - REDIS_URL=your_redis_connection_url

---

## Setup Instructions

### 1️⃣ Clone the Repository
- git clone https://github.com/HassanSheikh993/hassanSheikh-mern-10pshine.git
- cd hassanSheikh-mern-10pshine 

### Backend Setup
- cd backend
- npm install
- npm run dev

### Frontend Setup
- cd ../frontend
- npm install
- npm start

### Ports
- Frontend runs on http://localhost:5173
- Backend runs on http://localhost:8000

## Testing 
### Backend
- cd backend
- npm test

### Frontend
- cd frontend
- npm test

## SonarQube Setup
- Start SonarQube locally.
- Configure sonar-project.properties with your project details.
- Run:
  sonar-scanner
